[project]
	description = mbed project
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Serban (serbancon)
[access "refs/for/refs/*"]
	read = group user/Serban (serbancon)
	push = group user/Serban (serbancon)
	label-Code-Review = -2..+2 group user/Serban (serbancon)
	label-Verified = -1..+1 group user/Serban (serbancon)
	rebase = group user/Serban (serbancon)
	removeReviewer = group user/Serban (serbancon)
	submit = group user/Serban (serbancon)
[access "refs/heads/*"]
	read = group user/Serban (serbancon)
	create = group user/Serban (serbancon)
	push = +force group user/Serban (serbancon)
	pushMerge = group user/Serban (serbancon)
[access "refs/tags/*"]
	push = +force group user/Serban (serbancon)
	pushTag = group user/Serban (serbancon)
	pushSignedTag = group user/Serban (serbancon)
